package views

import "nkpro/gotempl/views/components"
import "nkpro/gotempl/views/layout"
import "nkpro/gotempl/views/widgets"

templ Login() {
	@layout.Layout(layout.LayoutProps{
		Title: "Вход",
		MetaDescription: "Страница входа",
	}) {
		<main>
			@layout.Header() {
				@components.Title("Вход")
			}
			@widgets.LoginForm()
			@layout.Footer()
		</main>
	}
}